@charset "UTF-8";
@font-face {
  font-family: 'DS-Digital-Italic';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/lcd/DS-DIGII.eot");
  src: url("../fonts/lcd/DS-DIGII.eot?#iefix") format("embedded-opentype"), url("	../fonts/lcd/DS-DIGII.otf") format("opentype"), url("../fonts/lcd/DS-DIGII.svg") format("svg"), url("../fonts/lcds/DS-DIGII.ttf") format("truetype"), url("../fonts/lcd/DS-DIGII.woff") format("woff"), url("../fonts/lcd/DS-DIGII.woff2") format("woff2");
}
.led-num {
  font-family: DS-Digital-Italic, Sans-Serif;
}
body {
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
  font-size: 14px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
html,
body {
  height: 100%;
  width: 100%;
}
html,
body,
h1,
h2,
h3,
h4,
h5,
section,
dl,
dt,
dd,
ul,
li,
button,
div,
select,
input,
label,
header,
main,
footer,
aside,
table,
td,
tr,
section,
p {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
button,
select,
input {
  border: 0;
  cursor: pointer;
  outline: none;
}
a,
a:focus,
a:hover {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}
a:focus,
a:active,
video {
  outline: none;
}
div:focus {
  outline: none;
}
select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: none;
  border: none;
  text-align: right;
  -moz-text-align-last: right;
       text-align-last: right;
}
.m-l-8 {
  margin-left: 8px;
}
.m-l-10 {
  margin-left: 10px;
}
.m-t-8 {
  margin-top: 8px;
}
.m-t-10 {
  margin-top: 10px;
}
.m-r-8 {
  margin-right: 8px;
}
.m-r-10 {
  margin-right: 10px;
}
.m-b-8 {
  margin-bottom: 8px;
}
.m-b-10 {
  margin-bottom: 10px;
}
/*****************  float 工具  ******************/
.f-r {
  float: right;
}
.f-l {
  float: left;
}
.clear-fix ::after {
  clear: both;
  content: '';
  display: table;
}
.fade-left-enter {
  opacity: 0;
  -webkit-transform: translate3d(-30px, 0, 0);
          transform: translate3d(-30px, 0, 0);
}
.fade-left-enter-active {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: opacity 0.46s, -webkit-transform 0.46s;
  transition: opacity 0.46s, -webkit-transform 0.46s;
  transition: transform 0.46s, opacity 0.46s;
  transition: transform 0.46s, opacity 0.46s, -webkit-transform 0.46s;
}
.fade-left-exit {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.fade-left-exit-active {
  opacity: 0;
  -webkit-transition: opacity 0.46s, -webkit-transform 0.46s;
  transition: opacity 0.46s, -webkit-transform 0.46s;
  transition: transform 0.46s, opacity 0.46s;
  transition: transform 0.46s, opacity 0.46s, -webkit-transform 0.46s;
  -webkit-transform: translate3d(-30px, 0, 0);
          transform: translate3d(-30px, 0, 0);
}
.fade-right-enter {
  opacity: 0;
  -webkit-transform: translate3d(30px, 0, 0);
          transform: translate3d(30px, 0, 0);
}
.fade-right-enter-active {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: opacity 0.46s, -webkit-transform 0.46s;
  transition: opacity 0.46s, -webkit-transform 0.46s;
  transition: transform 0.46s, opacity 0.46s;
  transition: transform 0.46s, opacity 0.46s, -webkit-transform 0.46s;
}
.fade-right-exit {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.fade-right-exit-active {
  opacity: 0;
  -webkit-transition: opacity 0.46s, -webkit-transform 0.46s;
  transition: opacity 0.46s, -webkit-transform 0.46s;
  transition: transform 0.46s, opacity 0.46s;
  transition: transform 0.46s, opacity 0.46s, -webkit-transform 0.46s;
  -webkit-transform: translate3d(30px, 0, 0);
          transform: translate3d(30px, 0, 0);
}
.fade-top-enter {
  opacity: 0;
  -webkit-transform: translate3d(0, -30px, 0);
          transform: translate3d(0, -30px, 0);
}
.fade-top-enter-active {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: opacity 0.46s, -webkit-transform 0.46s;
  transition: opacity 0.46s, -webkit-transform 0.46s;
  transition: transform 0.46s, opacity 0.46s;
  transition: transform 0.46s, opacity 0.46s, -webkit-transform 0.46s;
}
.fade-top-exit {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.fade-top-exit-active {
  opacity: 0;
  -webkit-transition: opacity 0.46s, -webkit-transform 0.46s;
  transition: opacity 0.46s, -webkit-transform 0.46s;
  transition: transform 0.46s, opacity 0.46s;
  transition: transform 0.46s, opacity 0.46s, -webkit-transform 0.46s;
  -webkit-transform: translate3d(0, -30px, 0);
          transform: translate3d(0, -30px, 0);
}
.fade-bottom-enter {
  opacity: 0;
  -webkit-transform: translate3d(0, 30px, 0);
          transform: translate3d(0, 30px, 0);
}
.fade-bottom-enter-active {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: opacity 0.46s, -webkit-transform 0.46s;
  transition: opacity 0.46s, -webkit-transform 0.46s;
  transition: transform 0.46s, opacity 0.46s;
  transition: transform 0.46s, opacity 0.46s, -webkit-transform 0.46s;
}
.fade-bottom-exit {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.fade-bottom-exit-active {
  opacity: 0;
  -webkit-transition: opacity 0.46s, -webkit-transform 0.46s;
  transition: opacity 0.46s, -webkit-transform 0.46s;
  transition: transform 0.46s, opacity 0.46s;
  transition: transform 0.46s, opacity 0.46s, -webkit-transform 0.46s;
  -webkit-transform: translate3d(0, 30px, 0);
          transform: translate3d(0, 30px, 0);
}

.wtx-button {
  background-color: #3e81f5;
  border-radius: 24px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  line-height: 1;
  padding: 4px 12px;
  white-space: nowrap;
}

.wtx-button:active {
  background-color: #0e61f2;
}

.wtx-button__actived {
  background-color: #28a80a;
}

.wtx-button__actived:active {
  background-color: #1d7807;
}

.wtx-button:disabled {
  background: #999;
  cursor: not-allowed;
}

.wtx-button__up {
  background-image: url("../assets/up_arrow.png");
  background-position: left 8px center;
  background-repeat: no-repeat;
  background-size: 8px 14px;
  padding-left: 24px;
}

.wtx-button__down {
  background-image: url("../assets/down_arrow.png");
  background-position: right 8px center;
  background-repeat: no-repeat;
  background-size: 8px 14px;
  padding-right: 24px;
}

.wtx-card {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #142134;
  border-bottom: 1px solid #0eff24;
  color: #d4f9ff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  min-width: 234px;
  padding: 16px 24px 12px;
  width: auto;
}

.wtx-card:last-child {
  margin-right: 0;
}

.wtx-card .wtx-card__body {
  margin-left: 20px;
}

.wtx-card .wtx-card__title {
  font-size: 14px;
}

.wtx-card .wtx-card__content {
  font-size: 48px;
  line-height: 1;
}

.wtx-inline-card {
  border-right: 1px solid #47f3e5;
  color: #47f3e5;
  display: inline-block;
  text-align: center;
}

.wtx-inline-card:last-of-type {
  border-right: none;
}

.wtx-inline-card .wtx-inline-card__title {
  font-size: 14px;
}

.wtx-inline-card .led-num {
  font-size: 26px;
}

.chart-title {
  color: #fff;
  display: inline-block;
  font-size: 14px;
  text-align: center;
}

.chart-title .number {
  font-size: 18px;
}

.wtx-image-icon__clickable {
  cursor: pointer;
}

.wtx-dialog__theme-dark {
  background: #142134;
  border: 1px solid #207d86;
}

.wtx-dialog__theme-light {
  background: #132f61;
  border: 1px solid #1f4cc4;
}

.wtx-dialog__header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px;
}

.wtx-dialog__header .wtx-dialog__title {
  color: #0eff24;
  font-size: 16px;
  line-height: 1;
}

.wtx-dialog__header .wtx-dialog__expand {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  line-height: 0;
  text-align: right;
}

.wtx-dialog__header .wtx-dialog__expand > * {
  margin-right: 8px;
}

.wtx-dialog__content {
  padding: 0 8px 8px 8px;
}

.wtx-radio-button {
  background-color: #040f1a;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  /* border-right  : solid 1px #2480db; */
  font-size: 14px;
  line-height: 1;
  min-width: 90px;
  padding: 6px 20px;
  position: relative;
  text-align: center;
}

.wtx-radio-button:first-child {
  border-bottom-left-radius: 16px;
  border-top-left-radius: 16px;
}

.wtx-radio-button:last-child {
  border-bottom-right-radius: 16px;
  border-top-right-radius: 16px;
}

.wtx-radio-button .wtx-radio-button__input {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.wtx-radio-button__checked {
  background-color: #3e81f5;
}

.wtx-radio-group {
  display: inline-block;
  font-size: 0;
  line-height: 1;
}

.wtx-radio {
  background-color: transparent;
  border: solid 1px #2480db;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  line-height: 1;
  margin-right: 10px;
  min-width: 60px;
  padding: 6px;
  position: relative;
  text-align: center;
}

.wtx-radio:last-child {
  margin-right: 0;
}

.wtx-radio .wtx-radio__input {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.wtx-radio__checked {
  background-color: #3e81f5;
}

.rc-select {
  display: inline-block;
  font-size: 12px;
  position: relative;
  width: 100px;
}

.rc-select-disabled,
.rc-select-disabled input {
  cursor: not-allowed;
}

.rc-select-disabled .rc-select-selector {
  opacity: 0.3;
}

.rc-select-show-arrow .rc-select-loading .rc-select-arrow-icon::after {
  -webkit-animation: rcSelectLoadingIcon 0.5s infinite;
          animation: rcSelectLoadingIcon 0.5s infinite;
  border: 2px solid #999;
  border-bottom-color: transparent;
  border-radius: 100%;
  border-top-color: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 12px;
  margin-top: 4px;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  width: 12px;
}

.rc-select .rc-select-selection-placeholder {
  opacity: 0.4;
}

.rc-select-single .rc-select-selector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.rc-select-single .rc-select-selector .rc-select-selection-search {
  width: 100%;
}

.rc-select-single .rc-select-selector .rc-select-selection-search-input {
  width: 100%;
}

.rc-select-single .rc-select-selector .rc-select-selection-item,
.rc-select-single .rc-select-selector .rc-select-selection-placeholder {
  left: 17px;
  pointer-events: none;
  position: absolute;
  right: 34px;
  top: 1px;
}

.rc-select-single:not(.rc-select-customize-input) .rc-select-selector {
  background-color: #fff;
  border: 1px solid #0059ff;
  border-radius: 16px;
  padding: 0 32px 0 17px;
}

.rc-select-single:not(.rc-select-customize-input) .rc-select-selector .rc-select-selection-search-input {
  background: rgba(255, 0, 0, 0.2);
  border: none;
  outline: none;
  width: 100%;
}

.rc-select-multiple .rc-select-selector {
  border: 1px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1px;
}

.rc-select-multiple .rc-select-selector .rc-select-selection-item {
  background: #bbb;
  border-radius: 4px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  margin-right: 2px;
  padding: 0 8px;
}

.rc-select-multiple .rc-select-selector .rc-select-selection-item-disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.rc-select-multiple .rc-select-selector .rc-select-selection-search {
  position: relative;
}

.rc-select-multiple .rc-select-selector .rc-select-selection-search-input, .rc-select-multiple .rc-select-selector .rc-select-selection-search-mirror {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
  padding: 1px;
}

.rc-select-multiple .rc-select-selector .rc-select-selection-search-mirror {
  left: 0;
  position: absolute;
  position: none;
  top: 0;
  visibility: hidden;
  white-space: nowrap;
  z-index: 999;
}

.rc-select-multiple .rc-select-selector .rc-select-selection-search-input {
  background: rgba(255, 0, 0, 0.2);
  border: none;
  outline: none;
  width: 100%;
}

.rc-select-allow-clear.rc-select-multiple .rc-select-selector {
  padding-right: 20px;
}

.rc-select-allow-clear .rc-select-clear {
  position: absolute;
  right: 20px;
  top: 0;
}

.rc-select-show-arrow.rc-select-multiple rc-select-selector {
  padding-right: 20px;
}

.rc-select-show-arrow .rc-select-arrow {
  pointer-events: none;
  position: absolute;
  right: 5px;
  top: 0;
}

.rc-select-show-arrow .rc-select-arrow-icon::after {
  border: 4px solid transparent;
  border-top-color: #1f4cc4;
  content: '';
  display: inline-block;
  height: 0;
  -webkit-transform: translateY(4px);
      -ms-transform: translateY(4px);
          transform: translateY(4px);
  width: 0;
}

.rc-select-focused .rc-select-selector {
  border-color: currentColor;
  border-color: initial;
}

.rc-select-dropdown {
  background: #fff;
  border: 1px solid #777;
  border-radius: 10px;
  position: absolute;
}

.rc-select-dropdown-hidden {
  display: none;
}

.rc-select-item {
  font-size: 16px;
  line-height: 1.5;
  padding: 4px 16px;
}

.rc-select-item-group {
  color: #999;
  font-size: 80%;
  font-weight: bold;
}

.rc-select-item-option {
  font-size: 14px;
  position: relative;
}

.rc-select-item-option-grouped {
  padding-left: 24px;
}

.rc-select-item-option .rc-select-item-option-state {
  display: none;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 4px;
}

.rc-select-item-option-active {
  background: rgba(0, 0, 0, 0.1);
}

.rc-select-item-option-disabled {
  color: #999;
}

.rc-select-item-empty {
  color: #999;
  text-align: center;
}

.rc-select-selection__choice-zoom {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.rc-select-selection__choice-zoom-appear {
  opacity: 0;
  -webkit-transform: scale(0.5);
      -ms-transform: scale(0.5);
          transform: scale(0.5);
}

.rc-select-selection__choice-zoom-appear .rc-select-selection__choice-zoom-appear-active {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.rc-select-selection__choice-zoom-leave {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.rc-select-selection__choice-zoom-leave .rc-select-selection__choice-zoom-leave-active {
  opacity: 0;
  -webkit-transform: scale(0.5);
      -ms-transform: scale(0.5);
          transform: scale(0.5);
}

.rc-select-dropdown-slide-up-enter, .rc-select-dropdown-slide-up-appear {
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  -webkit-animation-timing-function: cubic-bezier(0.08, 0.82, 0.17, 1);
          animation-timing-function: cubic-bezier(0.08, 0.82, 0.17, 1);
  opacity: 0;
}

.rc-select-dropdown-slide-up-leave {
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  -webkit-animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.34);
          animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.34);
  opacity: 1;
}

.rc-select-dropdown-slide-up-enter.rc-select-dropdown-slide-up-enter-active.rc-select-dropdown-placement-bottomLeft, .rc-select-dropdown-slide-up-appear.rc-select-dropdown-slide-up-appear-active.rc-select-dropdown-placement-bottomLeft {
  -webkit-animation-name: rcSelectDropdownSlideUpIn;
          animation-name: rcSelectDropdownSlideUpIn;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

.rc-select-dropdown-slide-up-leave.rc-select-dropdown-slide-up-leave-active.rc-select-dropdown-placement-bottomLeft {
  -webkit-animation-name: rcSelectDropdownSlideUpOut;
          animation-name: rcSelectDropdownSlideUpOut;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

.rc-select-dropdown-slide-up-enter.rc-select-dropdown-slide-up-enter-active.rc-select-dropdown-placement-topLeft, .rc-select-dropdown-slide-up-appear.rc-select-dropdown-slide-up-appear-active.rc-select-dropdown-placement-topLeft {
  -webkit-animation-name: rcSelectDropdownSlideDownIn;
          animation-name: rcSelectDropdownSlideDownIn;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

.rc-select-dropdown-slide-up-leave.rc-select-dropdown-slide-up-leave-active.rc-select-dropdown-placement-topLeft {
  -webkit-animation-name: rcSelectDropdownSlideDownOut;
          animation-name: rcSelectDropdownSlideDownOut;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

@-webkit-keyframes rcSelectDropdownSlideUpIn {
  0% {
    opacity: 0;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
  100% {
    opacity: 1;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
}

@keyframes rcSelectDropdownSlideUpIn {
  0% {
    opacity: 0;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
  100% {
    opacity: 1;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
}

@-webkit-keyframes rcSelectDropdownSlideUpOut {
  0% {
    opacity: 1;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
  100% {
    opacity: 0;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
}

@keyframes rcSelectDropdownSlideUpOut {
  0% {
    opacity: 1;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
  100% {
    opacity: 0;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
}

@-webkit-keyframes rcSelectLoadingIcon {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rcSelectLoadingIcon {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.wtx-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wtx-row-flex-top {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.wtx-row-flex-middle {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wtx-row-flex-bottom {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.wtx-row-flex-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.wtx-row-flex-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wtx-row-flex-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.wtx-row-flex-space-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.wtx-row-flex-space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wtx-tag {
  background-color: #3e81f5;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  padding: 4px 12px;
  vertical-align: middle;
  white-space: nowrap;
}

.wtx-tag__radius {
  border-radius: 24px;
}

.wtx-tag__ok {
  background: #28a80a url("../assets/tick.png") no-repeat left 8px center/16px 12px;
  padding-left: 30px;
}

.wtx-tag__error {
  background: #fe07ae url("../assets/fork.png") no-repeat left 8px center/12px 12px;
  padding-left: 26px;
}

.wtx-tag__danger {
  background: #fe07ae;
}

.wtx-tag__warning {
  background: #b46a2a;
}

.wtx-tag__disabled {
  background: #999;
}

.wtx-tag__online {
  background: #28a80a url("../assets/wifi_online.jpg") no-repeat left 8px center/20px 14px;
  padding-left: 36px;
}

.wtx-tag__outline {
  background: #999 url("../assets/wifi_outline.jpg") no-repeat left 8px center/20px 14px;
  padding-left: 36px;
}

.wtx-video-player__wrapper {
  border: solid 1px #87a8ff;
  position: relative;
}

.wtx-video-player__wrapper .wtx-video-player {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.wtx-video-player__wrapper .wtx-video-player__error {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 24px;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/*# sourceMappingURL=wtx-ui.css.map */
