@import '../../theme/var/index.scss';
@import '../../theme/mixin.scss';

$prefixCls: '#{$prefixlib}dialog';

.#{$prefixCls}__theme-dark {
  background: $--dialog-background-1;
  border: $--dialog-border-1;
}

.#{$prefixCls}__theme-light {
  background: $--dialog-background-2;
  border: $--dialog-border-2;
}

.#{$prefixCls}__header {
  display: flex;
  align-items: center;
  padding: $--block-normal;

  .#{$prefixCls}__title {
    font-size: px2rem(16);
    line-height: 1;
    color: $--dialog-title-color;
  }

  .#{$prefixCls}__expand {
    flex: auto;
    line-height: 0;
    text-align: right;

    & > * {
      margin-right: $--block-normal;
    }
  }
}

.#{$prefixCls}__content {
  padding: 0 $--block-normal $--block-normal $--block-normal;
}
