//* font converted using font-converter.net. thank you! *
@font-face {
  font-family: 'DS-Digital-Italic';
  font-style: normal;
  //* Modern Browsers *
  font-weight: normal;
  src: url('../fonts/lcd/DS-DIGII.eot');
  //* IE9 Compat Modes *
  src:
    url('../fonts/lcd/DS-DIGII.eot?#iefix') format('embedded-opentype'),
    url('	../fonts/lcd/DS-DIGII.otf') format('opentype'),
    url('../fonts/lcd/DS-DIGII.svg') format('svg'),
    url('../fonts/lcds/DS-DIGII.ttf') format('truetype'),
    url('../fonts/lcd/DS-DIGII.woff') format('woff'),
    url('../fonts/lcd/DS-DIGII.woff2') format('woff2');
}

.led-num {
  font-family: DS-Digital-Italic, Sans-Serif;
}
