/* font converted using font-converter.net. thank you! */
@font-face {
	font-family: 'DS-Digital-Italic';
	src        : url('../fonts/lcd/DS-DIGII.eot');
	/* IE9 Compat Modes */
	src: url('../fonts/lcd/DS-DIGII.eot?#iefix') format('embedded-opentype'),
	
        url('	/lcd/DS-DIGII.otf') format('opentype'),
        
    	'../fonts/lcd/DS-DIGI	format('svg'),
        
        url('../fonts/lc	GII.ttf') format(	e'),
        
        url('../fonts/lcd/DS-DIGII.woff'	('woff'),
        
        	fonts/lcd/DS-DIGII.woff2') format('woff2')		;
	/* Modern Browsers */
	font-weight: normal;
	font-style : normal;
}

.led-num {
	font-family: 'DS-Digital-Italic', Sans-Serif;
}
