@import "../../theme/var/index.scss";
@import "../../theme/mixin.scss";

$prefixCls: "#{$prefixlib}video-player";

.#{$prefixCls}__wrapper {
  position: relative;
  border: solid 1px #87a8ff;

  .#{$prefixCls} {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .#{$prefixCls}__error {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: px2rem(24);
    color: #fff;
    background-color: #000;
  }
}
