@import "./colors.scss";

$prefixlib: "wtx-";

$--block-normal: 8px;
$--block-big   : 10px;

// *************** text ***************
$--text-normal-color: $--color-white;
$--text-title-color : $--color-green-1;

$--text-normal-size: 14px;

// *************** button ***************
$--button-text-color : $--color-white;
$--button-text-size  : $--text-normal-size;

$--button-primary-bg : $--color-primary;
$--button-actived-bg : $--color-success;
$--button-disabled-bg: $--color-disabled;
$--button-danger-bg  : $--color-danger;

// *************** tags ***************
$--badge-text-color:$--color-white;
$--badge-text-size : $--text-normal-size;

$--badge-primary-bg  : $--color-primary;
$--badge-success-bg  : $--color-success;
$--badge-disabled-bg : $--color-disabled;
$--badge-danger-bg   : $--color-danger;
$--badge-warning-bg  : $--color-warning;

$--badge-bg-1: $--color-green-2;
$--badge-bg-2: $--color-brown-1;
$--badge-bg-3: $--color-green-3;
