.#{$prefixCls}radio {
    position : relative;
    display  : inline-block;
    min-width: px2rem(60);

    margin-right: px2rem(10);
    padding     : px2rem(6);

    background-color: transparent;
    color           : #fff;
    border          : solid 1px #2480db;

    font-size  : px2rem(14);
    text-align : center;
    line-height: 1;

    cursor: pointer;

    &:last-child {
        margin-right: 0;
    }

    .#{$prefixCls}radio__input {
        position: absolute;
        z-index : -1;
        opacity : 0;
    }

}

.#{$prefixCls}radio__checked {
    background-color: $za-btn-primary-bg;
}
