.#{$prefixCls}radio-button {
  position: relative;
  display: inline-block;
  min-width: px2rem(90);

  padding: px2rem(6) px2rem(20);

  background-color: darken(#2480db, 44);
  color: #fff;
  /*border-right  : solid 1px #2480db;*/

  font-size: px2rem(14);
  text-align: center;
  line-height: 1;

  cursor: pointer;

  &:first-child {
    border-top-left-radius: px2rem(16);
    border-bottom-left-radius: px2rem(16);
  }

  &:last-child {
    border-top-right-radius: px2rem(16);
    border-bottom-right-radius: px2rem(16);
    /*border-right            : 0;*/
  }

  .#{$prefixCls}radio-button__input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
}

.#{$prefixCls}radio-button__checked {
  background-color: $za-btn-primary-bg;
}
