@import '../../theme/var/index.scss';
@import '../../theme/mixin.scss';

$prefixCls: '#{$prefixlib}radio';

.#{$prefixCls} {
  position: relative;
  display: inline-block;
  min-width: 60px;
  padding: 6px;
  margin-right: 10px;
  font-size: 14px;
  line-height: 1;
  color: #fff;
  text-align: center;
  cursor: pointer;
  background-color: transparent;
  border: solid 1px #2480db;

  &:last-child {
    margin-right: 0;
  }

  .#{$prefixCls}__input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
}

.#{$prefixCls}__checked {
  background-color: $--color-primary;
}
