@import '../../theme/var/index.scss';
@import '../../theme/mixin.scss';

$prefixCls: 'rc-select';

@mixin search-input-without-border() {
  .#{$prefixCls}-selection-search-input {
    width: 100%;
    background: rgba(255, 0, 0, 0.2);
    border: none;
    outline: none;
  }
}

.#{$prefixCls} {
  position: relative;
  display: inline-block;
  width: 100px;
  font-size: 12px;

  &-disabled {
    &,
    & input {
      cursor: not-allowed;
    }

    .#{$prefixCls}-selector {
      opacity: 0.3;
    }
  }

  &-show-arrow {
    .#{$prefixCls}-loading {
      .#{$prefixCls}-arrow {
        &-icon::after {
          box-sizing: border-box;
          width: 12px;
          height: 12px;
          margin-top: 4px;
          border: 2px solid #999;
          border-top-color: transparent;
          border-bottom-color: transparent;
          border-radius: 100%;
          transform: none;
          animation: rcSelectLoadingIcon 0.5s infinite;
        }
      }
    }
  }

  // ============== Selector ===============
  .#{$prefixCls}-selection-placeholder {
    opacity: 0.4;
  }

  // --------------- Single ----------------
  &-single {
    .#{$prefixCls}-selector {
      position: relative;
      display: flex;

      .#{$prefixCls}-selection-search {
        width: 100%;

        &-input {
          width: 100%;
        }
      }

      .#{$prefixCls}-selection-item,
      .#{$prefixCls}-selection-placeholder {
        position: absolute;
        top: 1px;
        right: px2rem(34);
        left: px2rem(17);
        pointer-events: none;
      }
    }

    // Not customize
    &:not(.#{$prefixCls}-customize-input) {
      .#{$prefixCls}-selector {
        padding: 0 px2rem(32) 0 px2rem(17);
        background-color: $--select-bg;
        border: $--select-border;
        border-radius: px2rem(16);

        @include search-input-without-border();
      }
    }
  }

  // -------------- Multiple ---------------
  &-multiple .#{$prefixCls}-selector {
    display: flex;
    flex-wrap: wrap;
    padding: 1px;
    border: 1px solid #000;

    .#{$prefixCls}-selection-item {
      flex: none;
      padding: 0 8px;
      margin-right: 2px;
      background: #bbb;
      border-radius: 4px;

      &-disabled {
        cursor: not-allowed;
        opacity: 0.5;
      }
    }

    .#{$prefixCls}-selection-search {
      position: relative;

      &-input,
      &-mirror {
        padding: 1px;
        font-family: system-ui;
      }

      &-mirror {
        position: absolute;
        position: none;
        top: 0;
        left: 0;
        z-index: 999;
        white-space: nowrap;
        visibility: hidden;
      }
    }

    @include search-input-without-border();
  }

  // ================ Icons ================
  &-allow-clear {
    &.#{$prefixCls}-multiple .#{$prefixCls}-selector {
      padding-right: 20px;
    }

    .#{$prefixCls}-clear {
      position: absolute;
      top: 0;
      right: 20px;
    }
  }

  &-show-arrow {
    &.#{$prefixCls}-multiple #{$prefixCls}-selector {
      padding-right: 20px;
    }

    .#{$prefixCls}-arrow {
      position: absolute;
      top: 0;
      right: 5px;
      pointer-events: none;

      &-icon::after {
        display: inline-block;
        width: 0;
        height: 0;
        content: '';
        border: 4px solid transparent;
        border-top-color: $--select-text-color;
        transform: translateY(4px);
      }
    }
  }

  // =============== Focused ===============
  &-focused {
    .#{$prefixCls}-selector {
      border-color: initial;
      // border-color: blue !important;
    }
  }

  // ============== Dropdown ===============
  &-dropdown {
    // min-height: 100px;
    position: absolute;
    background: #fff;
    border: $--select-dropdown-border;
    border-radius: px2rem(10);

    &-hidden {
      display: none;
    }
  }

  // =============== Option ================
  &-item {
    padding: 4px 16px;
    font-size: 16px;
    line-height: 1.5;

    // >>> Group
    &-group {
      font-size: 80%;
      font-weight: bold;
      color: #999;
    }

    // >>> Option
    &-option {
      position: relative;
      font-size: px2rem(14);

      &-grouped {
        padding-left: 24px;
      }

      .#{$prefixCls}-item-option-state {
        position: absolute;
        top: 4px;
        right: 0;
        display: none;
        pointer-events: none;
      }

      // ------- Active -------
      &-active {
        background: rgba(0, 0, 0, 0.1);
      }

      // ------ Disabled ------
      &-disabled {
        color: #999;
      }
    }

    // >>> Empty
    &-empty {
      color: #999;
      text-align: center;
    }
  }
}

.#{$prefixCls}-selection__choice-zoom {
  transition: all 0.3s;
}

.#{$prefixCls}-selection__choice-zoom-appear {
  opacity: 0;
  transform: scale(0.5);

  & .#{$prefixCls}-selection__choice-zoom-appear-active {
    opacity: 1;
    transform: scale(1);
  }
}

.#{$prefixCls}-selection__choice-zoom-leave {
  opacity: 1;
  transform: scale(1);

  & .#{$prefixCls}-selection__choice-zoom-leave-active {
    opacity: 0;
    transform: scale(0.5);
  }
}

@mixin effect() {
  transform-origin: 0 0;
  animation-duration: 0.3s;
  animation-fill-mode: both;
}

.#{$prefixCls}-dropdown {
  &-slide-up-enter,
  &-slide-up-appear {
    @include effect();

    opacity: 0;
    animation-play-state: paused;
    animation-timing-function: cubic-bezier(0.08, 0.82, 0.17, 1);
  }

  &-slide-up-leave {
    @include effect();

    opacity: 1;
    animation-play-state: paused;
    animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.34);
  }

  &-slide-up-enter.#{$prefixCls}-dropdown-slide-up-enter-active.#{$prefixCls}-dropdown-placement-bottomLeft,
  &-slide-up-appear.#{$prefixCls}-dropdown-slide-up-appear-active.#{$prefixCls}-dropdown-placement-bottomLeft {
    animation-name: rcSelectDropdownSlideUpIn;
    animation-play-state: running;
  }

  &-slide-up-leave.#{$prefixCls}-dropdown-slide-up-leave-active.#{$prefixCls}-dropdown-placement-bottomLeft {
    animation-name: rcSelectDropdownSlideUpOut;
    animation-play-state: running;
  }

  &-slide-up-enter.#{$prefixCls}-dropdown-slide-up-enter-active.#{$prefixCls}-dropdown-placement-topLeft,
  &-slide-up-appear.#{$prefixCls}-dropdown-slide-up-appear-active.#{$prefixCls}-dropdown-placement-topLeft {
    animation-name: rcSelectDropdownSlideDownIn;
    animation-play-state: running;
  }

  &-slide-up-leave.#{$prefixCls}-dropdown-slide-up-leave-active.#{$prefixCls}-dropdown-placement-topLeft {
    animation-name: rcSelectDropdownSlideDownOut;
    animation-play-state: running;
  }
}

@keyframes rcSelectDropdownSlideUpIn {
  0% {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: 0% 0%;
  }

  100% {
    opacity: 1;
    transform: scaleY(1);
    transform-origin: 0% 0%;
  }
}

@keyframes rcSelectDropdownSlideUpOut {
  0% {
    opacity: 1;
    transform: scaleY(1);
    transform-origin: 0% 0%;
  }

  100% {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: 0% 0%;
  }
}

@keyframes rcSelectLoadingIcon {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
