/*****************  color  ******************/
$--color-primary : #3e81f5 !default;
$--color-success : #28a80a !default;
$--color-danger  : #fe07ae !default;
$--color-disabled: #999999 !default;

$--color-green-1: #47f3e5 !default;
$--color-white: #ffffff !default;
$--color-black: #000000 !default;