@import '../../theme/var/index.scss';
@import '../../theme/mixin.scss';

$prefixCls: '#{$prefixlib}button';

.#{$prefixCls} {
  background-color: $--button-primary-bg;
  border-radius: 24px;
  color: $--button-text-color;
  cursor: pointer;
  display: inline-block;
  font-size: $--button-text-size;
  line-height: 1;
  padding: 4px 12px;
  white-space: nowrap;

  &:active {
    background-color: darken($--button-primary-bg, 10);
  }

  &__actived {
    background-color: $--button-actived-bg;

    &:active {
      background-color: darken($--button-actived-bg, 10);
    }
  }

  &:disabled {
    background: $--button-disabled-bg;
    cursor: not-allowed;
  }

  &__up {
    background-image: url('../assets/up_arrow.png');
    background-position: left 8px center;
    background-repeat: no-repeat;
    background-size: 8px 14px;
    padding-left: 24px;
  }

  &__down {
    background-image: url('../assets/down_arrow.png');
    background-position: right 8px center;
    background-repeat: no-repeat;
    background-size: 8px 14px;
    padding-right: 24px;
  }
}
