@import '../../theme/var/index.scss';
@import '../../theme/mixin.scss';

$prefixCls: '#{$prefixlib}card';

.#{$prefixCls} {
  display         : inline-flex;
  align-items     : center;
  width           : auto;
  min-width       : 234px;
  padding         : 16px 24px 12px;
  background-color: $dialog-background-1;
  color           : $--card-text-color;
  border-bottom   : 1px solid $dialog-title-color;

  &:last-child {
    margin-right: 0;
  }

  .#{$prefixCls}__body {
    margin-left: 20px;
  }

  .#{$prefixCls}__title {
    font-size: $--text-normal-size;
  }

  .#{$prefixCls}__content {
    font-size  : 48px;
    line-height: 1;
  }
}
