@import '../../theme/var/index.scss';
@import '../../theme/mixin.scss';

$prefixCls: '#{$prefixlib}card';

.#{$prefixCls} {
  align-items: center;
  background-color: $--dialog-background-1;
  border-bottom: 1px solid $--dialog-title-color;
  color: $--card-text-color;
  display: inline-flex;
  min-width: 234px;
  padding: 16px 24px 12px;
  width: auto;

  &:last-child {
    margin-right: 0;
  }

  .#{$prefixCls}__body {
    margin-left: 20px;
  }

  .#{$prefixCls}__title {
    font-size: $--text-normal-size;
  }

  .#{$prefixCls}__content {
    font-size: 48px;
    line-height: 1;
  }
}
