@import '../../theme/var/index.scss';
@import '../../theme/mixin.scss';

$prefixCls: '#{$prefixlib}inline-card';

.#{$prefixCls} {
  display: inline-block;
  color: $--inline-card-text-color;
  text-align: center;
  border-right: 1px solid $--inline-card-text-color;

  &:last-of-type {
    border-right: none;
  }

  .#{$prefixCls}__title {
    font-size: $--text-normal-size;
  }

  .led-num {
    font-size: 26px;
  }
}
