@import '../../theme/var/index.scss';
@import '../../theme/mixin.scss';

$prefixCls: '#{$prefixlib}table';

.#{$prefixCls} {
  color: $--table-text-color;
  font-size: $--text-normal-size;
  text-align: center;
}

.#{$prefixCls}__header {
  color: $--table-header-text-color;
}

.#{$prefixCls}__loading {
  width: 100%;

  .loading-icon {
    display: inline-block;
    margin-right: 30px;
    vertical-align: middle;
  }
}
