@mixin text-ellipsis($n: 2) {
  overflow: hidden;
  text-overflow: ellipsis;

  @if ($n >=2) {
    display: -webkit-box;
    -webkit-line-clamp: $n;
    -webkit-box-orient: vertical;
  }

  @if ($n=1) {
    white-space: nowrap;
  }
}

@mixin flex($justify: center, $align: center) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}
